<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentDelivery">
        <events>
            <event name="media:request">
                <handler patch:instead="*[@type='Sitecore.Analytics.RobotDetection.Media.MediaRequestEventHandler, Sitecore.Analytics.RobotDetection']"
                         type="Sitecore.Support.MediaRequestEventHandler, Sitecore.Support.329801"
                         method="OnMediaRequest" />
            </event>
        </events>
    </sitecore>
</configuration>